
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7fafc;
}

/* HEADER */

.header {
    background-color: #e2e8f0;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
}


/* LINKS */

.topLinks ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.topLinks a {
    font-weight: 600;
    text-decoration: none;

/* LEFT LINKS */

.profile{
    position: fixed;
    top: 100px;
    left: 10px;
}

.profile ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile li{
    margin-bottom: 10px;
}

.clases{
    position: fixed;
    top: 150px;
    left: 10px;
}

.clases ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.clases li{
    margin-bottom: 10px;
}

.tareas{
    position: fixed;
    top: 200px;
    left: 10px;
}

.tareas ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tareas li{
    margin-bottom: 10px;
}

.calificaciones{
    position: fixed;
    top: 250px;
    left: 10px;
}

.calificaciones ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.calificaciones li{
    margin-bottom: 10px;
}

.salir{
    position: fixed;
    top: 500px;
    left: 10px;
}

.salir ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.salir li{
    margin-bottom: 10px;
}