<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a EasyGrade</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
    <li><a href="{{ url_for('register') }}">Register</a></li>
<body class="bg-gray-100 flex flex-col items-center justify-center min-h-screen">
        <h1 class="text-3xl font-bold text-gray-800 mb-6">Bienvenido a EasyGrade!</h1>
            <a href="{{ url_for('login') }}" class="font-semibold hover:underline">Login</a>
</body>
</html>