<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyGrade</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('login') }}">Home</a></li>
                </ul>
            </nav>
        </div>
        
    </header>

    
    <div class="main-container">
        <main>
               
                <div>
                    <p>Iniciar sesión</p>
                    <form method="POST" action="{{ url_for('login') }}"></form>
                    {{ login_form.hidden_tag() }}
                    <div class="form-group">
                        {{ login_form.email.label(class="form-label") }}
                        {{ login_form.email(class="form-control") }}
                        {% for error in login_form.email.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}

                    </div>
                    <div class="form-group">
                        {{ login_form.password.label(class="form-label") }}
                        {{ login_form.password(class="form-control") }}
                        {% for error in login_form.password.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                    </div>
                    {{ login_form.submit(class="btn btn-dark btn-block") }}
                </form>
            </div>


        <div class="form-container">
                <p>Registrar usuario</p>
                <div>
                    <label for="registerName" class="form-label">Nombre y Apellido</label>
                    <input type="text" class="form-control" id="registerName" aria-describedby="registerNameHelp" placeholder="Nombre y Apellido">
                    <div id="registerNameHelp" class="form-text">Por favor, introduce tu nombre y apellido.</div>
                </div>
                <div>
                    <label for="registerEmail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="registerEmail" aria-describedby="registerEmailHelp" required placeholder="email@dominio.com">
                    <div id="registerEmailHelp" class="form-text">Nunca compartiremos tu información con nadie.</div>
                </div>
                <div>
                    <label for="registerPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="registerPassword" required placeholder="Contraseña">
                </div>
                <button type="submit" class="btn btn-dark btn-block">Crear usuario</button>
            </div>
        </main>
    </div>

    <!-- Incluir JS de Bootstrap y sus dependencias -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

