<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyGrade</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('edit_profile.edit_profile') }}">Profile page</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="main-container">
        <main>
            <div class="container mt-4">
                <h2>Edit Profile</h2>
                <form method="POST" action="{{ url_for('edit_profile.edit_profile') }}">
                    {{ edit_profile_form.hidden_tag() }}
                    <div class="form-group">
                        {{ edit_profile_form.telefono.label(class="form-label") }}
                        {{ edit_profile_form.telefono(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ edit_profile_form.direccion.label(class="form-label") }}
                        {{ edit_profile_form.direccion(class="form-control") }}
                    </div>
                    {{ edit_profile_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </main>
    </div>
    
</body>
</html>